<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftStudyDemo-5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>249669B31E5D950E0073B4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>249669C71E5D950E0073B4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>249669D21E5D950E0073B4DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
